.div-table {
    max-width: 80%;
    margin: auto;
    margin-top: 2%;
}

.mat-elevation-z8 {
    background-color: #f1b673;
    margin: auto;
}

.div-alert {
    border: 2px solid #f1b673;
    text-align: center;
    margin: auto;
    max-width: 80%;
    margin-top: 2%;
    font-weight: bold;
}

th, td {
    text-align: center;
}