<div class="div-mat-accordion">
    <mat-accordion class="mat-accordion">
        <mat-expansion-panel class="mat-expansion-panel">
          <mat-expansion-panel-header class="mat-expansion-panel-header">
            <mat-panel-title class="mat-panel-title">
            <p>{{description1}}</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="div1-expasion-panel">
            <p>{{alert1}}</p><br>
            <p>{{command1}}</p>
    
            <mat-form-field class="mat-form-field">
              <mat-label class="mat-label">{{valueClient1}}</mat-label>
              <input matInput placeholder="Ex. 2000" class="matInput" type="number">
            </mat-form-field><br>
    
            <a routerLink="/tabela"><button mat-raised-button class="btn-calc">Calcular</button></a>
    
          </div>
    
        </mat-expansion-panel>
    </mat-accordion>
    </div>