.div-table {
    max-width: 80%;
    margin: auto;
    margin-top: 2%;
}

.mat-elevation-z8 {
    background-color: bisque;
    margin: auto;
}

.aviso {
    border: 2px solid black;
    text-align: center;
    margin: auto;
    font-size: 100%;
}