@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@300;500;600&display=swap');

body {
    /* background: linear-gradient(#022f44, rgb(61, 0, 61)); */
    background-color: #fff;
    background-repeat: no-repeat;
    height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
