.h1-header {
    color: violet;
    text-align: center;
    padding: 2%;
    font-size: 2.5vw;
    font-family: 'Poppins', sans-serif;
  }

  .mat-toolbar {
    background-color: rgb(61, 0, 61);
    color: #fff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    padding: 0.7%;
  }

  .div-toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }